* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
main {
    min-height: calc(100vh - 60px - 50px);
    padding-bottom: 20px;
}
:root {
    --text-color: #666666;
    --text-button: #727272;
    --grey-button: #F8F8F8;
    --blue-button: #4260FB;
}

/* PANTALLA DE INICIO */
.home-container {
    display: flex;
    margin: 0 auto;
    text-align: center;
    max-width: 380px;
}
.home-content {
    margin: 0 auto;
    text-align: center;
    align-content: center;
    margin-top: 50%;
}
.home-content p {
    font-size: 1.5rem;
    font-weight: 100;
    color: var(--text-color);
    margin-top: -5px;
}
.home-content img {
    width: 170px;
}
.home-content button {
    width: 170px;
    height: 43px;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    color: white;
    background-color: var(--blue-button);
}
.home-content  button:hover {
    box-shadow: 2px 2px 6px rgb(179, 179, 179);
}

/* PANTALLA DE INFORMACIÓN */
.info-container {
  display: flex;
  margin: 0;
  padding: 0;
}
.info-content {
    position: absolute;
    margin: 0 auto;
    text-align: center;
    align-content: center;
    float: left;
    margin: 0;
    padding: 0;
    margin-left: 300px;
    margin-top: 150px;
    width: 400px;
}
.info-content img {
    width: 170px;
}
.short-info {
    width: 310px;
    margin: 0 auto;
}
.info-content p {
    font-size: 1.2rem;
    font-weight: 100;
    margin-top: -5px;
    color: var(--text-color);
    width: 300px;
    padding: 0px;
}
.info-content .grey-btn {
    width: 170px;
    height: 43px;
    color: var(--text-button);
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    background: var(--grey-button); 
    cursor: pointer;
}
.info-content .grey-btn:hover {
    border: solid 2px var(--blue-button);
}
.info-content .blue-btn {
    width: 170px;
    height: 43px;
    color: white;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    background: var(--blue-button); 
    cursor: pointer;
}
.info-content .blue-btn:hover { 
    box-shadow: 2px 2px 6px rgb(179, 179, 179);
}
.info-bg {
    width: 65%;
    height: 721px;
    display: grid;
    margin: 0px;
    padding: 0px;
    background-image: url('./images/bg.svg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain; 
    float: right;
}

/* PANTALLA PARA MOSTRAR INFORMACIÓN**/
header {
    width:100%;
    height: 50px;
    position: relative;
}
header img {
    height: 50px;
    width: auto;
    margin-left: 30px;
    padding-top: 10px;
    cursor: pointer;
}
footer {
    margin: 0 auto;
    width: 100%;
    position: fixed;
    font-size: 1.2rem;
    font-weight: 100;
    color: var(--text-button);
}
footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: auto;

}
footer li:nth-child(1) {
    margin-right: 400px;
    display: inline;
}
footer li  {
    margin-right: 50px;
    display: inline;
}
footer li {
    justify-content: center;
}
.show-info-container {
    margin: 0 auto;
    padding-top: 60px;
}
.show-info-contents {
    margin: 0 auto;
    width: 800px;
    height: 300px;
    display: grid;
    grid-template-columns:  400px 400px;
    grid-template-rows: 1fr;
    grid-gap: 50px;
    text-align: justify;
}
.show-info-contents h2 {
    color: var(--blue-button);
    font-size: 1.8rem;
}
.show-info-contents h3 {
    color: var(--text-color);
    font-size: 1.4rem;
}
.show-info-contents p {
    font-size: 1.5rem;
    font-weight: 100;
    color: var(--text-color);
}
.show-info-content button {
    width: 170px;
    height: 43px;
    color: var(--text-button);
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    background: var(--grey-button);
    cursor: pointer;
}
.show-info-content .back-btn {
    float: left;
}
.show-info-content .valid-btn {
    float: right;
    margin-top: 105px;
}

.show-info-content button:hover {
    color: white;
    background-color: var(--blue-button);
}

/* PANTALLA DE CARD VALIDATION */
.alert-container {
    position: absolute;
    margin: 0 auto;
    width: 250px;
    height: 60px;
    border-radius: 3px;
    text-align: center;
    left: 40%;
    top: 80px;
    background-color: var(--blue-button);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
}
.alert-container p {
    font-size: 1.5rem;
    color: white;
}
.card-valid-container {
    margin: 0 auto;
    padding-top: 220px;
    position: relative;
}
.card-valid-contents {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 1fr;
    text-align: justify;
    grid-gap: 10px;
    justify-content: center;
}
.card-body {
    background-color: #DD5E57;
    color: white;
    width: 350px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
}
.card-body-content {
    padding: 15px;
    padding-right: 10px;
    padding-left: 25px;
}
.card-valid-content .card-img {
    width: 230px;
    height: auto;
}
.card-valid-content #new-cardbtn {
    margin-top: 0px;
}
.first-content {
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    padding-right: 20px;
}
.first-content .card-text {
    color: white;
}
.first-content span {
    display: inline;
    padding-right: 8px;
}
.first-content .visa {
    width: 60px;
    height: auto;
    display: inline;
    background-image: url(./images/visa.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0px;
}
.first-content .mastercard {
    width: 60px;
    height: auto;
    display: inline;
    background-image: url(./images/mastercard.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0px;
}
.first-content .americanexpress {
    width: 60px;
    height: auto;
    display: inline;
    background-image: url(./images/american.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0px;
}
.first-content .diners-club {
    width: 120px;
    height: auto;
    display: inline;
    background-image: url(./images/Diners-Club.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0px;
}
.main-content .card-text {
    color: white;
    font-size: 1.8rem;
}
.main-content span {
    background-image: url(./images/chip-8.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0px;
    display: inline-block;
    width: 70px;
    height: 40px;
    border-radius: 10px;
    margin-top: -5px;
    margin-left: -10px;
    margin-bottom: -4px;
}
.main-content p {
    margin-bottom: -5px;
}
.main-content .card-input {
    border-style: none;
    background-color: transparent;
    padding-left: 0px;
    margin-bottom: -7px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    width: 250px;
}
.main-content .card-input::placeholder {
    color: rgba(255,255,255,0.5); 
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
}
.footer-content  .card-text{
    color: rgba(255,255,255,0.5); 
}
.footer-content {
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    padding-right: 40px;
}
  
.card-valid-content:nth-child(2) {
    text-align: center;
}
.card-valid-content p {
    font-size: 1.5rem;
    font-weight: 100;
    color: var(--text-color);
}
.card-valid-content input {
    border: solid 1px var(--text-button);
    width: 200px;
    height: 30px;
    border-radius: 20px;
    padding-left: 18px;
    margin-top: 20px;
    font-size: 1.5rem;
    color: var(--text-color);
}
.card-valid-content input::placeholder {
    font-family: 'Poppins', sans-serif;
    color: var(--text-button);

}

.card-valid-content button {
    width: 170px;
    height: 43px;
    color: white;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    background: var(--blue-button); 
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.card-valid-content button:hover {
    box-shadow: 2px 2px 6px rgb(179, 179, 179);
}
.card-valid-content #new-cardbtn {
    margin-left: 115px;
}
